
version: '3.8'

services:
  sql:
    image: mcr.microsoft.com/mssql/server:2022-latest
    environment:
      SA_PASSWORD: "Your_password123"
      ACCEPT_EULA: "Y"
    ports:
      - "1433:1433"

  api:
    build: ./src/AiWorkflowEngine.Api
    ports:
      - "6000:80"
    depends_on:
      - sql
